.App {
  background: #000000;
  
}

h1 {
  font-size: 35px;
  max-width: 350px;
  color: white
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 30px;
  color: #e1dede;
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
.landing {
  margin-top: 75px;
}
.nav {
  position: fixed;
  top: 0;
  color: white;
  width: 100%;
  /* Use 100% instead of 100vw */
  display: flex;
  justify-content: flex-end;
  background: #000000;
  z-index: 1000;
  overflow: hidden;

  padding: 10px 0px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;

}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;

}

/* Nav */


#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
  transition: 0.3s ease-in-out
}

#navbar li a:hover {
  color: #FCE82F;
}

.nav-mobile {
  display: none;
}

.nav-mobile {
  color: white;
  align-items: center;
}



.water-mark-img {
  height: "";
  width: 15%;
  object-fit: cover;
  display: block;
  object-position: top
}

.header-div {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.col-1 {
  width: 50%;
}

.link-div {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
  margin-top: 40px;
}

.link-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #FCE82F;
}

.image {
  width: 70%;
  height: '';
  object-fit: cover;
}

.image-fb {
  width: 40%;
  height: '';
  object-fit: cover;
}

.vector-div {
  position: relative;
  width: 400px;
  height: 370px;
}
.rectangle92-img {
  position: absolute;
  top: -28px;
  left: 0px;
  width: 385px;
  height: 360px;
  object-fit: cover;
  z-index: 1;
}
.vector-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.rectangle-div-16 {
  width: 510px;
  height: 460px;
}
.rectangle-16 {
 
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

button {

  width: 250px;
  height: 60px;
  background: #FCE82F;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
}

.about-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-row {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  align-items: center;
}
.about-col {
  width: 50%;
  padding-left: 40px;
}

.down-border {
  width: 146px;
  height: 9px;
  clip-path: polygon(0 68%, 100% 0, 100% 100%, 0 68%, 0 47%);
  background: #FCE82F;
  margin: 0;
}
.resume-div {
  border-left: 5px solid #FCE82F;
  padding-left: 30px;
}
.resume-row {
  display: flex;
  justify-content: space-between;
  height: 250px;
  margin-top: 30px;
}
.resume-col-1 {
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resume-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio-container {
  width: 100%; 
  overflow-x: auto
  
}

.portfolio-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: max-content;
}
.portfolio-link li {
  list-style: none;
  color: white;
  margin: 30px;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid transparent; /* Default border */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.portfolio-link li:hover {
  color: #FCE82F;
}

.portfolio-link li.active {
  border-color: white;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-weight: 500;
  padding: 10px 30px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.image-grid img {
  width: 100%;
  height: auto;
}

.get-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.get-touch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.get-div {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.get-mr {
  margin-right: 190px;
}
input, textarea {
  width: 100%;
  border-style: none;
  border-radius: 7px;
  box-sizing: border-box; 
}
.input-div {
  display: flex;
 
}
.input-1 {
  margin-left: 10px;
}
input {
  height: 30px;
  margin-bottom: 20px;
}
textarea {
  height: 150px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
 
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 1200px) {
  .water-mark-img {
   
    width: 19%;
  }
}
@media (max-width: 992px) {
  .landing {
    margin-top: 74px;
  }
  .header-div {
    align-items: center;
  }
  .col-2 {
    margin-left: 20px;
  }
  .water-mark-img {
   
    width: 25%;
  }
  .vector-div {
    
    width: 350px;
    height: 325px;
  }
  .rectangle92-img {
    
    width: 340px;
    height: 320px;
   
  }
  .nav {
    padding: 10px 20px !important;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    position: fixed;
    top: 50px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #000000;
    color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease-in-out
  }

  .nav-mobile {
    display: block;
    margin-right: 50px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  .nav-mobile {
    cursor: pointer;
  }
  .rectangle-div-16 {
    width: 390px;
    height: 420px;
  }

}

@media (max-width: 768px) {
  .nav-hide {
    display: none !important;
  }
  .nav-mobile {
    display: block;
    margin-right: 65px;
  }
  .about-row {
    display: block !important;
  }
  .about-col {
    width: 90% !important;
    padding-left: 0px !important;
  }
  .rectangle-div-16 {
    width: 90% !important;
    height: 420px;
  }
  .water-mark-img {
   
    width: 29%;
  }
  .image-grid {
    margin-top: 30px;
  }
  h1 {
    font-size: 30px;
  }
  .vector-div {
    
    width: 300px;
    height: 280px;
  }
  .rectangle92-img {
    
    width: 300px;
    height: 280px;
   
  }
  .image-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
  .portfolio-container {
    overflow-x: auto;
    white-space: nowrap; /* Prevent line breaks */
  }

  .portfolio-link ul{
    flex-wrap: nowrap; /* Prevent items from wrapping */
  }

  .portfolio-link li {
    display: inline-block; /* Ensure items are in a row for scrolling */
  }
}
@media (max-width: 660px) {
  
  .vector-div {
   display: none;
  }
  .rectangle92-img {
    
    display: none;
   
  }
  .col-1 {
    width: 100% !important;
  }
  .get-mr {
    margin-right: 100px !important;
  }
}

@media (max-width: 590px) {
  .resume-row {
    display: block !important;
    margin-bottom: 300px !important;
  }
  .space-resume {
    margin-bottom: 20px;
  }
  .image-grid img{
    width: 90%;
  }
  .input-div {
    display: block !important;
   
  }
  .input-1 {
    margin-left: 0px !important;
  }
  input, textarea {
    width: 94%;
  }
  .get-mr {
    margin-right: 70px !important;
  }
}

@media (max-width: 450px) {
  .water-mark-img {
   
    width: 35%;
  }
  .get-mr {
    margin-right: 20px !important;
  }
  .image-grid {
    grid-template-columns: 1fr; 
  }
  .image-grid img{
    width: 95%;
  }
  input, textarea {
    width: 92%;
  }
}
@media (max-width: 400px) {
  .get-mr {
    margin-right: 1px !important;
  }
}
@media (max-width: 370px) {
  .get-touch {
    display: block !important;
   
  }
}
@media (max-width: 350px) {
  .image-grid img{
    width: 90%;
  }
  input, textarea {
    width: 88%;
  }
  button {

    width: 200px;
   
  }
  #navbar {
    width: 250px ;
  }
}

@media (max-width: 250px) {
 
  input, textarea {
    width: 85%;
  }
  button {

    width: 160px;
    height: 60px;
   
  }
  #navbar {
    width: 200px ;
  }
}

